button{
  border: none;
  outline: none;
  text-align: left;

  &:active{
    filter: brightness(0.9) contrast(1.5);
  }

  &.btn,&.btn-small {

    .h3;



    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: @color-grey-dark;
    height: 60px;
    padding: 0 @space-medium;
    margin-right: var(--spacetiny);
    .txt{
      padding-left: @space-tiny;
    }

    border-radius: 60px;
    .shadow;

    &.btn-small {
      height: 40px;
      padding: 0 @space-small;
      margin-right: 0;
      .txt&:only-child{
        padding-left: 0;
      }
    }
  }


  &.big-btn {
    .h2;
    display: inline-flex;
    align-items: center;
    color: white;
    background-color: @color-green;
    border-radius: 60px;
    padding: @space-medium calc(@space-big + 10px);
    .big-shadow;
    svg {
      margin-left: @space-small;
    }
  }

  &.btn-green{

    .h2;

    display: inline-flex;
    align-items: center;
    color: white;
    background-color: @color-green;
    border-radius: 60px;
    padding: @space-small calc(@space-big + 10px);
    .big-shadow;
    margin:0 @space-tiny;
  }

  &.btn-circle{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    padding: 0;
  }


}