
.btn, button{
  .h3;
  color: white;
  background-color: @color-grey-dark;
  border:none;
  padding: @space-small  calc(@space-small + 10px);
  border-radius: 60px;

  .shadow;
}

.big-btn{

  .h2;

  display: inline-block;
  color: white;
  background-color: @color-green;
  border-radius: 60px;
  padding: @space-big  calc(@space-big + 10px);

  .big-shadow;

  svg{
    height: 20px;
    max-width: 40px;
  }

}