button{
  border: none;
  outline: none;
  text-align: left;
  &.invisible{
    visibility: hidden;
  }

  &:active{
    filter: brightness(0.9) contrast(1.5);
  }

  &.btn,&.big-btn,&.btn-small,&.btn-medium,&.btn-tiny {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    color: white;
    --h:60px;
    background-color: @color-grey-dark;
    .shadow;
    .h3;
    height: var(--h);
    border-radius: var(--h);
    margin-right: var(--spacetiny);
    .txt{
      padding-left: @space-tiny;
      &:only-child{
        padding-left: 0;
      }
    }
  }

  &.big-btn{
    min-height: var(--h);
    height: auto;
    .big-shadow;
    .h2;
    padding: @space-medium calc(@space-big + 10px);
    svg {
      margin-left: @space-small;
    }
  }
  &.btn-medium {
    min-height: var(--h);
    height: auto;
    padding: @space-small calc(@space-medium);
    font-size: 16px;
    line-height: 1;
  }
  &.btn-small {
    --h:40px;
    padding: 0 @space-small;
  }
  &.btn-tiny {
    --h:30px;
    padding: 0 15px;
    font-size: 11px;
  }
  &.btn-circle{
    border-radius: 100%;
    height: var(--h);
    width: var(--h);
    padding: 0;
  }

  &.btn-green{
    background-color: @color-green;
    margin:0 @space-tiny;
  }


}