.casque {

  position: relative;

  color: white;
  width: 160px;
  height: 160px;
  margin: 0 @space-tiny;
  text-align: center;

  background-color: yellow;

  // autres css
  //.big-shadow;
  //border: 2px solid white;
  //background: linear-gradient(180deg, @color-green 0%, @color-green-light 100%) ;

  .elements{

    height: 180px;

    .warning{
      position: absolute;
      top: 0;
      right: 0;
    }

    .state{
      position: absolute;
      left: 50%;
      top: -5px;
      transform: translateX(-50%);
    }

    .nb{
      display: block;
      position: absolute;;
      top:20px;
      left: 50%;
      transform: translateX(-50%);
      .h1;
      margin-top: @space-tiny;
    }



    .contenu{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      .big-shadow;
      overflow: hidden;
      &[has-film="0"]{
        .preview-film{
          display: none;
        }
        .ico-casque{
          display: flex;
        }
      }
      &[has-film='1']{
        .preview-film{
          display: flex;
        }
        .ico-casque{
          display: none;
        }
      }

      .preview-film{
        width: 100%;
        height: 100%;
        >img{
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0.9;
          filter:saturate(0.5) brightness(0.8);
        }
        >h3{
          position: absolute;;
          top:75px;
          left: 50%;
          transform: translateX(-50%);
          text-transform: uppercase;
          &.title{
          }
          &.timer{
            margin-top: 20px;
          }
        }

      }
      .ico-casque{
        background-color: var(--state-color);
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      }

    }






    .battery{
      position: absolute;
      left: 50%;
      bottom: -5px;
      transform: translateX(-50%);
      background-color: var(--battery-color);
      /*
      &:after{
        content: "";
        display: block;
        width: 6px;
        height: 4px;
        position: absolute;
        background-color: white;
        top:10px;
        left: 14px;
      }

      */

      &[battery-plugged]{
        .not-plugged{
          display: inline-block;
        }
        .is-plugged{
          display: none;
        }
      }
      &[battery-plugged='1']{
        .not-plugged{
          display: none;
        }
        .is-plugged{
          display: inline-block;
        }
      }
    }

  }


  --warning-check-display:none;
  --warning-paused-display:none;
  --warning-attention-display:none;

  &[state='STATE_HORS_LIGNE']{
    --state-text:"Hors ligne";
    --state-color:@color-grey-light;
    --battery-color:@color-grey-light;
    --warning-display:flex;
    --warning-attention-display:block;
  }
  &[state='STATE_DECHARGE']{
    --state-text:"Déchargé";
    --state-color:@color-grey-light;
    --battery-color:@color-pink;
    --warning-display:flex;
    --warning-attention-display:block;
  }
  &[state='STATE_DISPONIBLE']{
    --state-text:"Disponible";
    --state-color:@color-green;
    --battery-color:@color-green;
    --warning-display:none;
  }
  &[state='STATE_EN_COURS']{
    --state-text:"En cours";
    --state-color:@color-green;
    --battery-color:@color-green;
    --warning-display:none;
  }
  &[state='STATE_EN_ATTENTE']{
    --state-text:"En attente";
    --state-color:@color-green;
    --battery-color:@color-green;

    --warning-display:flex;
    --warning-paused-display: block;
  }

  &[state]{

    .label.state{
      background-color: var(--state-color);
      >span{
        &:after{
          content: var(--state-text)
        }
      }

    }
    .warning{
      display: var(--warning-display);
      background-color: var(--color-pink);
      .check{
        display: var(--warning-check-display);
      }
      .paused{
        display: var(--warning-paused-display);
      }
      .attention{
        display: var(--warning-attention-display);
      }
    }
  }


  .actions{
    outline: 1px solid red;
    display: flex;
    justify-content: center;
    >*{
      margin: 4px;
      white-space: nowrap;
    }
  }


}