.badge-paused(){
  .badge{
    display: flex;
    >svg{
      display: none;
    }
    .paused{
      display: flex;
    }
  }
}
.badge-check(){
  .badge{
    display: flex;
    >svg{
      display: none;
    }
    .check{
      display: flex;
    }
  }
}
.badge-attention(){
  .badge{
    display: flex;
    >svg{
      display: none;
    }
    .attention{
      display: flex;
    }
  }
}
.badge-none{
  .badge {
    display: none;
  }
}