<div class="casque">

    <div class="elements">

        <div class="contenu" has-film="0">

            <div class="ico-casque">
                <svg class=" ico-64">
                    <use xlink:href="dist/svg-collection/icon.svg#icon-casque"/>
                </svg>
            </div>

            <div class="preview-film">
                <img src="../components/placeholder.jpg" alt="">
                <h3 class="title">La plage</h3>
                <h3 class="timer">-3:40</h3>
            </div>

        </div>


        <div class="badge warning">
            <svg class="ico-24 check">
                <use xlink:href="dist/svg-collection/icon.svg#icon-check"/>
           </svg>
            <svg class="ico-24 paused">
                <use xlink:href="dist/svg-collection/icon.svg#icon-pause"/>
           </svg>
            <svg class="ico-24 attention">
               <use xlink:href="dist/svg-collection/icon.svg#icon-warning"/>
           </svg>
       </div>

       <div class="label state">
           <span></span>
       </div>

       <span class="nb">99</span>



        <div class="label battery" battery-plugged="0">
            <svg class="ico-24 not-plugged">
                <use xlink:href="dist/svg-collection/icon.svg#icon-battery"/>
            </svg>
            <svg class="ico-24 is-plugged">
              <use xlink:href="dist/svg-collection/icon.svg#icon-flash"/>
            </svg>
             <span battery-level>10%</span>
      </div>

  </div>

  <button class="btn-small">
      <span>Stop</span>
  </button>

</div>