@import "casque-badge";
[casque]{



  >.circle{
    background-color: var(--color-green);
    pointer-events: none;
    >.preview-film{
      width: 100%;
      height: 100%;
      >img{
        opacity: 0.9;
        filter:saturate(0.5) brightness(0.8);
      }
      >h3{
        position: absolute;;
        top:75px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        &.title{
        }
        &.timer{
          margin-top: 20px;
        }
      }
    }
    >.ico-casque{
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      flex-grow: 0;
      flex-shrink: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    >[numero]{
      display: block;
      position: absolute;;
      top:20px;
      left: 0;
      width: 100%;
      margin-top: @space-tiny;
      text-align: center;
      .h1;

    }
    >[full-ip]{
      position: absolute;;
      top:41px;
      left: 0;
      width: 100%;
      margin-top: @space-tiny;
      text-align: center;
      font-size: 10px;
      font-family: monospace;
      opacity: 0.5;
    }

  }

  .label.state{
    >span{
      &:before{
        content:var(--state-text);
      }
    }
  }
  .label.apk{
    background-color: var(--color-pink);
  }

  //niveau batterie...
  &[battery-low="0"]{
    .battery{
      background-color: var(--color-green);
    }
  }
  &[battery-low="1"]{
    .battery{
      background-color: var(--color-pink);
    }
  }

  //branché ou pas...
  &[plugged='0']{
    .not-plugged{
      display: inline-block;
    }
    .is-plugged{
      display: none;
    }
  }
  &[plugged='1']{
    .not-plugged{
      display: none;
    }
    .is-plugged{
      display: inline-block;
    }
  }

  .badge{
    background-color: var(--color-pink);
  }
  .badge-none();

  &[is-online='1']{
    &[has-film='0']{
      --state-text:"Disponible";
      .preview-film{
        display: none;
      }
      .ico-casque{
        display: flex;
      }
      [action='casque-stop']{
        display: none;
      }
      [action='casque-play']{
        display: none;
      }

    }
    &[has-film='1']{
      //a un film
      .preview-film{
        display: flex;
      }
      .ico-casque{
        display: none;
      }
      //en pause
      &[is-playing='0']{
        --state-text:"En attente";
        .badge-paused();
      }
      //en lecture
      &[is-playing='1']{
        --state-text:"En cours";
        [action='casque-play']{
          display: none;
        }
      }
    }

  }




  &[is-online='0']{
    --state-text:"Hors ligne";
    .circle,.label{
      background-color: var(--color-grey-light);
    }
    .badge-none();
    .preview-film{
      display: none;
    }
    .ico-casque{
      display: flex;
    }
    [action='casque-stop']{
       display: none;
     }
    [action='casque-play']{
      display: none;
    }
  }




  &[is-contenus-ready="0"]{
    --state-text:"Copie..." !important;
    .circle,.label{
      background-color: var(--color-grey-light);
    }
    .badge-attention();

  }


  &[is-apk-ok='1']{
    .apk{
      visibility: hidden;
    }
  }
  &[is-apk-ok='0']{
    .apk{
      visibility: visible;
    }
  }

  &[plugged='0']{
    &[is-apk-ok='0'],&[is-contenus-ready="0"]{
      --state-text:"Branchez moi" !important;
    }
  }



  .actions{
    flex-wrap: wrap;
    //flex-direction: column;
    //align-items: center;
  }




}

