.casque {

  position: relative;
  background-color: @color-green;
  border-radius: 100%;
  color: white;
  width: 160px;
  height: 160px;
  margin: 0 @space-tiny;
  text-align: center;

  // autres css
  //.big-shadow;
  //border: 2px solid white;
  //background: linear-gradient(180deg, @color-green 0%, @color-green-light 100%) ;

  .elements{

    height: 180px;

    .state{
      position: absolute;
      left: 50%;
      top: -5px;
      transform: translateX(-50%);
    }

    .nb{
      display: block;
      position: absolute;;
      top:30px;
      left: 50%;
      transform: translateX(-50%);
      .h1;
      margin-top: @space-tiny;
    }

    >h3{
      position: absolute;;
      top:75px;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
      &.title{

      }
      &.timer{
        margin-top: 20px;
      }

    }

    .warning{
      position: absolute;
      top: 0;
      right: 0;
    }

    .ico-casque{
      position: absolute;;
      top:55px;
      left: 50%;
      transform: translateX(-50%);
    }



    .battery{
      position: absolute;
      left: 50%;
      bottom: -5px;
      transform: translateX(-50%);

      &:after{
        content: "";
        display: block;
        width: 6px;
        height: 4px;
        position: absolute;
        background-color: white;
        top:10px;
        left: 14px;
      }
    }


  }

  .btn-small{

  }

  --warning-check-display:none;
  --warning-paused-display:none;
  --warning-attention-display:none;

  &[state='STATE_HORS_LIGNE']{
    --state-text:"Hors ligne";
    --state-color:@color-grey-light;
    --state-pointer-event:none;
    --warning-display:flex;
    --warning-attention-display:block;
  }
  &[state='STATE_DECHARGE']{
    --state-text:"Déchargé";
    --state-color:@color-grey-light;
    --state-pointer-event:none;
    --warning-display:flex;
    --warning-attention-display:block;
  }
  &[state='STATE_DISPONIBLE']{
    --state-text:"Disponible";
    --state-color:@color-green;
    --state-pointer-event:auto;
    --warning-display:none;
  }
  &[state='STATE_EN_COURS']{
    --state-text:"En cours";
    --state-color:@color-green;
    --state-pointer-event:auto;
    --warning-display:none;
  }
  &[state='STATE_EN_ATTENTE']{
    --state-text:"En attente";
    --state-color:@color-green;
    --state-pointer-event:auto;
    --warning-display:flex;
    --warning-paused-display: block;
  }

  &[state]{

    pointer-events: var(--state-pointer-event);
    background-color: var(--state-color);
    .label.state{
      background-color: var(--state-color);
      &:after{
        content: var(--state-text)
      }
    }
    .warning{
      display: var(--warning-display);
      .check{
        display: var(--warning-check-display);
      }
      .paused{
        display: var(--warning-paused-display);
      }
      .attention{
        display: var(--warning-attention-display);
      }
    }
  }


}