[film] {
  .tags{
    z-index: 2;
    margin-top: 15px;
    width: 100%;
  }
  >.circle{
    border: 3px solid #fff;
  }

  [popin-info]{
    order: 0;
    background-color: transparent;
    color: var(--color-grey);
    box-shadow: none;
  }

}