.film {
  position: relative;
  color: white;
  margin: 0 @space-tiny;
  text-align: center;

  >img{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: 2px solid #fff;
    .big-shadow;
    object-fit: contain;
  }

  .elements{
    margin-top: -20px;
  }

  .indications{
   margin-top: 15px;
  }

}