<div film="" class="circle-media">


    <button class="circle" action="select-film" >
            <img class="bg-circle"
                 src="./placeholder.jpg"
                 alt="film">
    </button>

    <div class="label bottom">
        <span class="title">Titre du Film</span>
    </div>

    <div class="actions">
        <button popin-info data-show-popin="" debug-enabled='inline-flex' class="btn-small">
            <svg class="ico-16"><use xlink:href="#icon-settings-1"></use></svg>
        </button>
    </div>

    <div class="indications">
        <!--
        <div class="indication">Pédiatrie</div>
        <div class="indication">Stress</div>
        -->
    </div>

</div>