.header{
  --w:700px;
  width: var(--w);
  position: absolute;
  left: calc( 50% - var(--w) / 2 );
  margin: 0;
  top: 100px;
  text-align: center;

  &.middle{
    top: 300px;
  }

}

.footer{
  --w:700px;
  width: var(--w);
  position: absolute;
  left: calc( 50% - var(--w) / 2 );
  margin: 0;
  bottom: 120px;
  text-align: center;
}