.logs-field{
  padding: 10px;
  font-family: monospace !important;
  *{
    font-family: monospace !important;
  }
  font-size: 12px;
  background-color: #fff;
  color: var(--color-grey-light);
  border-color: var(--color-grey-light);

  .string { color: #62626a; }
  .number { color: darkorange; }
  .boolean { color: #ff63f0; }
  .null { color: #c1bbbe; }
  .key { color: #63bb47; }

  >div{
    animation-name: kf-log-new;
    animation-duration: 0.5s;
    padding-bottom: 5px;
  }


}

@keyframes kf-log-new {
  0%{
    background-color: #fff931;
  }
  10%{
    background-color: #f0f0f0;
  }
  100%{
    background-color: transparent;
  }
}