.logs-field{
  padding: 10px;
  font-family: monospace;
  font-size: 12px;
  background-color: #fff;
  color: var(--color-grey-dark);
  border-color: var(--color-grey-light);

  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: red; }

  >div{
    animation-name: kf-log-new;
    animation-duration: 0.5s;
    padding-bottom: 5px;
  }


}

@keyframes kf-log-new {
  0%{
    //background-color: #222;
    color: #ff0;
    transform:translateY(-20px);
    margin-top: -10px;
    margin-bottom: -10px;
  }
  75%{
    color: #ff0;
  }
  100%{

  }
}