<div debug-is-enabled="0">

    <div id="logo" data-show-screen="home">
        <img src="../components/placeholder.jpg" alt="logo"/>
    </div>

    <div id="version" class="indication" data-show-popin="controlsMenu">
        <div>Version 1.0.2</div>
    </div>

    <div id="main">
    </div>


    <div id="nav">
        <button class="btn" data-show-screen="home">
            <svg class="ico-24">
                <use xlink:href="dist/svg-collection/icon.svg#icon-home"/>
            </svg>
        </button>
        <button class="btn" data-show-popin="dashboard">
            <svg class="ico-24">
                <use xlink:href="dist/svg-collection/icon.svg#icon-dashboard"/>
            </svg>
            <span class="txt">
                dashboard
            </span>
        </button>
        <button class="btn" data-show-screen="filters">
            <svg class="ico-16">
                <use xlink:href="dist/svg-collection/icon.svg#icon-right-arrow"/>
            </svg>
            <span class="txt">
                Nouvelle séance
            </span>
        </button>
        <button class="btn" data-show-screen="films">
            <svg class="ico-24">
                <use xlink:href="dist/svg-collection/icon.svg#icon-left"/>
            </svg>
        </button>

        <button class="btn" data-show-screen="validation">
            <svg class="ico-24">
                <use xlink:href="dist/svg-collection/icon.svg#icon-check"/>
            </svg>
        </button>

        <button class="btn" data-show-screen="explication">
            <svg class="ico-24">
                <use xlink:href="dist/svg-collection/icon.svg#icon-left-arrow"/>
            </svg>
        </button>

    </div>
</div>