body{

  ---z-screen:10;
  ---z-nav:100;
  ---z-popin:1000;

  user-select: none;
  overflow: hidden;
}
[transi]{
  overflow: hidden;
}

[data-show-screen],[data-show-popin]{
  cursor: pointer;
}


#logo{
  position: absolute;
  z-index: var(---z-nav);
  margin: @space-medium;
  img{
    width: var(--widthlogo);
    height: auto;
  }
}

#version{
  position: absolute;
  z-index: var(---z-nav);
  bottom:0;
  right: 0;
  margin: @space-medium;
}


#main{
  z-index: var(---z-screen);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

