<div debug-is-enabled="0"
     is-offline="0"
     is-machine-plugged="1"
     is-syncing="1"
     transi="">

    <div id="logo">
        <img src="../components/placeholder.jpg" alt="logo"/>
    </div>

    <nav id="top-right-nav" class="mdc-menu-surface--anchor">

        <span id="network-ico" class="mdi mdi-wifi"></span>
        <span id="machine-plugged-ico" class="mdi mdi-power-plug"></span>
        <div  id="horloge">09:14</div>
        <span id="menu-toggle" class="mdi mdi-menu"></span>
        <!--menu.html-->
    </nav>

    <nav id="bottom-nav">
        <svg id="refresh-ico" ><use xlink:href="#icon-refresh"></use></svg>
        <div id="contenu-update" >
            <div class="indication-mono"></div>
        </div>
        <div id="version" class="indication-mono" action="show-advanced-setting">
            <div class="indication-mono">Version 1.0.2</div>
        </div>
        <div id="version-update" class="indication-mono">
            <div class="indication-mono"></div>
        </div>
        <!--
        <button class="btn-text" debug-enabled='block' data-show-popin="filesReport">
            <svg class="ico-32">
                <svg><use xlink:href="#icon-speedometer"></use></svg>
            </svg>
        </button>

        <div id="qrcode" data-show-popin="Qrcode">
            <img src="../components/placeholder.jpg" alt="qr code"/>
        </div>
        <button class="btn-text" action="open-doc">
            <svg class="ico-32">
                <svg><use xlink:href="#icon-file"></use></svg>
            </svg>
        </button>

        <button class="btn-text" action="shut-down-all">
            <svg class="ico-32">
                <use xlink:href="#icon-moon"></use>
            </svg>
        </button>
        -->

    </nav>


    <div id="main"></div>
</div>