<div debug-is-enabled="0" is-offline="1" is-syncing="1" transi="">

    <div id="logo">
        <img src="../components/placeholder.jpg" alt="logo"/>
    </div>

    <nav id="bottom-nav">
        <svg id="network-ico" debug-enabled='block' ><use xlink:href="#icon-wifi"></use></svg>
        <svg id="refresh-ico" ><use xlink:href="#icon-refresh"></use></svg>
        <div id="version" class="indication" data-show-popin="controlsMenu">
            <div>Version 1.0.2</div>
        </div>
        <div id="version-update" class="indication">
            <div>...</div>
        </div>
    </nav>


    <div id="main">
    </div>



</div>