<div id="nav">

    <button home show="..." class="btn btn-small" data-show-screen="home">
        <svg class="ico-24">
            <use xlink:href="dist/svg-collection/icon.svg#icon-home"/>
        </svg>
        <span class="txt">Retour accueil</span>
    </button>

    <button dashboard class="btn btn-small" data-show-popin="dashboard">
        <svg class="ico-24">
            <use xlink:href="dist/svg-collection/icon.svg#icon-dashboard"/>
        </svg>
    </button>

    <button back class="btn btn-circle" data-show-screen="home">
        <svg class="ico-16">
            <use xlink:href="dist/svg-collection/icon.svg#icon-left"/>
        </svg>
    </button>

</div>