<div id="nav">

    <button home show="..." class="btn-small btn-white" data-show-screen="home" data-show-screen-transi="from-left">
        <svg class="ico-24">
            <use xlink:href="#icon-home"/>
        </svg>
        <span class="txt">Retour accueil</span>
    </button>

    <button dashboard class="btn-small btn-white" data-show-screen="selectCasques">
        <div id="casques-points">
        </div>
    </button>

    <button back class="btn-small btn-white btn-circle" data-show-screen="home" data-show-screen-transi="from-left">
        <svg class="ico-16">
            <use xlink:href="#icon-left"/>
        </svg>
    </button>

</div>