<div id="nav">

    <button home show="..." class="btn-small" data-show-screen="home" data-show-screen-transi="from-left">
        <svg class="ico-24">
            <use xlink:href="#icon-home"/>
        </svg>
        <span class="txt">Retour accueil</span>
    </button>

    <button dashboard class="btn-small" data-show-screen="selectCasques">
        <svg class="ico-24">
            <use xlink:href="#icon-dashboard"/>
        </svg>
    </button>

    <button back class="btn-small btn-circle" data-show-screen="home" data-show-screen-transi="from-left">
        <svg class="ico-16">
            <use xlink:href="#icon-left"/>
        </svg>
    </button>

</div>