
body{
  --spacesmall : 20px;
  --spacemedium : 30px;
  --spacebig : 40px;

  --widthlogo : 120px;
}

@space-small : var(--spacesmall);
@space-medium : var(--spacemedium);
@space-big : var(--spacebig);




