@import "../fonts/proxima-nova/style.css";

body{
  font-size: 14px;
  line-height: 1.3;
  font-weight: bold;
  color: @color-grey;
  --font-mono: monospace;
}


h1,h2,h3{
  margin: 0;
}

*{
  font-family: "Proxima Nova Semibold", cursive;
  letter-spacing: 1px;
}

h1,h2,.h1,.h2, button{
  text-transform: uppercase;
}
h1, .h1{
  font-family: "Proxima Nova Bold", cursive;
  font-size: 21px;
  font-weight: normal;
}
h2, .h2{
  font-size: 18px;
}
h3, .h3{
  font-size: 12px;
}


.tag,.indication,.indication-mono{
  font-size: 12px;
  color:@color-grey-light ;
}
.indication-mono{
  font-family: var(--font-mono);
}