#stream-screen{
  position: fixed;
  z-index: calc( var(---z-popin) + 1);
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #007563;

  &.active{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .infos{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #333;
    padding: 4px;
    font-size: 11px;
    font-family: var(--font-mono);
  }
  .close{
    position: absolute;
    top: 0;
    right: 0;
  }
  .stream{
    width: 100%;
    height: auto;
    background-color: #00FFE6;
    display: block;
    &.fresh{
      animation-name: kf-fresh;
      animation-duration: 4s;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
  }

  @keyframes kf-fresh{
    0%{
      filter:sepia(0);
    }
    50%{
      filter:sepia(0);
    }
    100%{
      filter:sepia(5);
    }
  }

}