<div id="stream-screen">
    <img class="stream" src="" alt=""/>
    <div class="infos">
        <span class="ip"></span> |
        Resolution <span class="resolution-w"></span> x <span class="resolution-h"></span> |
        Mouse <span class="mouse-x">...</span>,<span class="mouse-y">...</span>
    </div>
    <div class="actions">
        <button keycode="KEYCODE_WAKEUP">WAKE UP</button>
        <button keycode="KEYCODE_HOME">HOME</button>
        <button keycode="displaySettings">SETTINGS</button>
        <button keycode="KEYCODE_VOLUME_UP">VOLUME +</button>
        <button keycode="KEYCODE_VOLUME_DOWN">VOLUME -</button>

    </div>
    <button class="close">×</button>

</div>