<div class="device-col">
    <div class="head">
        <div>
            <div class="name">name ?</div>
            <div class="ip">ip</div>
            <div class="realip">realip</div>
            <div class="adbstatus">adbstatus</div>
            <div class="disk">
                <div class="size">?</div>
                <div class="used">?</div>
                <div class="available">?</div>
            </div>

            <div class="icons">
                <div class="online">
                    <svg><use xlink:href="#icon-wifi-bold"></use></svg>
                </div>
                <div class="plugged">
                    <svg><use xlink:href="#icon-plug"></use></svg>
                </div>
                <div class="apk">
                    <svg><use xlink:href="#icon-android"></use></svg>
                    <span class="apkVersion">v?.???</span>
                </div>
                <div class="contenusReady">
                    <svg><use xlink:href="#icon-cloud_done"></use></svg>
                </div>
            </div>


        </div>
    </div>
    <div class="files">

    </div>
</div>