.file-head-cell{
  --success:#0f0;
  .is-mime-apk{
    display: none;
  }
  &[is-mime-apk="1"]{
    .is-mime-apk{
      display: inline-flex;
      .tag();
      background-color: #ff0;
      color: #333;
    }
  }
  .disabled{
    display: none;
    color: var(--color-grey-light);
  }
  &[is-disabled="1"]{
    .disabled{
      color: var(--error);
    }
  }
  &[is-disabled="-1"]{
    .disabled{
      color: var(--success);
    }
  }
  .contenuName{
    color: #000;
    font-family: var(--font-normal-bold);
  }
  .serverPath{
    .indication-mono;
  }
  .path{
    text-transform: none;
    font-size: 10px;
  }
  .bytes{
    font-size: 9px;
    font-weight: normal;
    font-family: var(--font-mono);
  }

  .tag(){
    padding: 4px;
    border-radius: 4px;
    background-color: var(--color-grey-light);
    color: #fff;
    display: inline-flex;
    line-height: 1;
    justify-content: center;
    align-items: center;
  }


  &[is-thumbnail],&[is-contenu],&[is-doc]{
    .contenuName{
      margin-left: -4px;
      .tag();
    }
  }
  &[is-doc]{
    .contenuName{
      background-color: var(--success);
    }
  }
  &[is-thumbnail='1']{
    .contenuName{
      background-color: #f0f0f0;
      color: var(--color-green);

    }
  }
  &[is-contenu='1']{
    .contenuName{
      background-color: var(--color-green);
    }
    .disabled{
      display: inline-flex;
    }
  }

}