<div class="file-cell file-head-cell" title="file/path.ext" exists="" shouldExists="" toDo="" doing="" droidWorking="">
    <div class="copyPercent"></div>
    <div class="dev-debug">
        <div class="exists"></div>
        <div class="shouldExists"></div>
        <div class="toDo"></div>
        <div class="doing"></div>
        <div class="errorsTry"></div>
    </div>
    <div class="icons">
        <div class="etat">
            <svg class="indefini"><use xlink:href="#icon-dashboard"></use></svg>
            <svg class="existe"><use xlink:href="#icon-cloud_done"></use></svg>
            <svg class="existepas"><use xlink:href="#icon-cloud"></use></svg>
        </div>
        <div class="action">
            <svg class="effacer"><use xlink:href="#icon-garbage"></use></svg>
            <svg class="copier"><use xlink:href="#icon-download"></use></svg>
            <svg class="droid"><use xlink:href="#icon-android"></use></svg>
        </div>

    </div>


</div>