.explication{
  img{
    z-index: -1;
    position: absolute;
    top: 60px;
    left:350px;
    width: 530px;
    height: auto;
  }
  background-image: url("./explication.jpg");
  background-color: yellow;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 20px;
  min-height: 100px;
}