[screen='selectCasques']{
  [action="select-all"]{
    position:absolute;
    top: calc(50vh - 190px);
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    pointer-events: none;
    &.active.enabled{
      visibility: visible;
      pointer-events: auto;
    }
  }
  #casques{

    @media(max-height: 650px){
      //outline: 1px solid yellow;
      margin-top: 100px;
      min-height: calc(100vh - 150px);
      &.medias-scroll .medias-scroll-container>*{
        margin-block-start: auto;
      }
    }

    [casque]{

      //dans tous les cas sur cet écran...
      /*
      .preview-film,
      [action='casque-stop'],
      .badge .paused,
      .badge .warning
      {
        display: none;
      }
      .ico-casque{
        display: flex;
      }
      */

      //PAS selectionnable
      &[is-selectable='0']{
        .images-filter{
          opacity:0.8;
          background-color: var(--color-grey-light);
        }
        &[has-film='1']{
          .images-filter{
            opacity:0.3;
            background-color: #000;
          }
        }
        button.circle{
          pointer-events: none !important;
        }
        .badge .check{
          display: none;
        }
        //tout est gris
        .label,
        .ico-casque
        //.badge
        {
          //background-color: @color-grey-light;
        }
      }
      //selectionnable
      &[is-selectable='1']{
        .images-filter{
          opacity:0.8;
          background-color: var(--color-green);
        }
        button.circle{
          pointer-events: auto !important;
        }
        //.badge-none();
        &[is-selected='1']{
          .badge-check();
        }
      }

    }




  }
}