[screen='selectCasques']{
  #casques{

    [casque]{

      //dans tous les cas sur cet écran...
      .preview-film,
      [action='stop-casque'],
      .badge .paused,
      .badge .warning
      {
        display: none;
      }
      .ico-casque{
        display: flex;
      }

      //PAS selectionnable
      &[is-selectable='0']{
        button.circle{
          pointer-events: none !important;
        }
        .badge .check{
          display: none;
        }
        //tout est gris
        .label,.badge,.ico-casque{
          background-color: @color-grey-light;
        }
      }
      //selectionnable
      &[is-selectable='1']{
        button.circle{
          pointer-events: auto !important;
        }
        .badge-none();
        &[is-selected='1']{
          .badge-check();
        }
      }

    }




  }
}