[screen='selectCasques']{
  #casques{

    .casque{

      //------------dans tous les cas---------------------

      //on affiche tout le temps l'icone du casque (pas le film)
      .contenu{
        .preview-film{
          display: none;
        }
        .ico-casque{
          display: flex;
        }
      }
      .actions{
        [action='stop-casque']{
          display: none !important;
        }
      }

      //TODO revoir la logique avec un atribut selectable=1 ou selectable=0


      //---------etats selectionnables--------------------

      &[state='STATE_DISPONIBLE'],&[state='STATE_EN_ATTENTE']{
        --warning-display:none;
        --warning-check-display:none;
        --warning-paused-display:none;
        --warning-attention-display:none;
        //position checked ou pas...
        &.checked{
          .badge.warning{
            background: var(--color-pink);
            --warning-display:flex;
            --warning-check-display:flex;
          }
          .contenu{
            pointer-events: auto;
            cursor: pointer;
            .ico-casque{
              background: var(--bg-gradient-green);
            }
          }
        }
      }


      //--------etats non selectionnables-----------------

      &[state='STATE_HORS_LIGNE'],&[state='STATE_DECHARGE'],&[state='STATE_EN_COURS']{
        //tout est gris
        .label.state{
          background-color: @color-grey-light;
        }
        .badge.warning{
          background: @color-grey-light;
        }
        --battery-color:@color-grey-light;
        .contenu{
          pointer-events: none;
          .ico-casque{
            background: @color-grey-light;
          }
        }
      }






    }




  }
}