[screen='validation']{
  flex-direction: column;

  .elements{
    color: white;
    background-color: @color-green;
    //opacity: 0.60;
    padding: @space-big;
    border-radius: 900px;
    display: flex;
    align-items: stretch;
    margin-bottom: @space-medium;

    *[class^="element-"]{
      min-width: 230px;
      max-width: 230px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 @space-medium;
      border-right: 3px solid @color-white-opacity;
      &:last-child{
        border: none;
      }
      img{
        border: 2px solid white;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        margin-bottom: @space-tiny;
      }
      h2{
        text-align: center;
      }
    }
  }

  .loading{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg{
      margin-top: 15px;
      display: block;
      animation-name: kf-turn;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }


  &[is-loading='1']{
    button{
      display: none !important;
    }
    .loading {
      display: flex;
    }
  }


}