[popin="ObjectLogger"]{

  h1{
    position: absolute;
    left: 20px;
    top: 40px;
    small{
      font-family: monospace;
      font-size: 12px;
    }
  }

  .data{
    padding: 10px;
    font-family: monospace;
    font-size: 12px;
    background-color: #fff;
    color: var(--color-grey-dark);
    border-color: var(--color-grey-light);
    position: absolute;
    left:20px;
    top:100px;
    bottom: 20px;
    width: calc( 100% - 40px);
    right: 0;
    margin: 0;

    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }

  }
}